body,
html {
  font-family: "Roboto", sans-serif;
}

.a-enter-vr {
  display: none;
}

.warn {
  background: #000;
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  line-height: 36px;
}

.warn div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 22;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
  z-index: 222;
  line-height: 1.8em;
  text-align: center;
  padding: 0 24px;
}

.info h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 12%;
  font-weight: 400;
}

.info #top {
  border-top: solid 1px white;
}

.info #bottom {
  border-bottom: solid 1px white;
}

.intro {
  padding: 0 0 4% 0;
  font-size: 16px;
  letter-spacing: 0.15px;
}

.guide {
  padding: 0 0 4% 0;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.setting {
  padding: 0 0 6% 0;
  font-size: 14px;
  letter-spacing: 0.25px;
}

#button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 16px;
  font-size: 12px;
  letter-spacing: 1.25px;
}

#button:hover {
  color: black;
  background-color: white;
}

.author {
  margin-top: 8%;
  font-size: 12px;
}

a:link,
a:visited {
  text-decoration: none;
  cursor: default;
  color: white;
  font-size: 12px;
}

.info a:hover {
  color: #5200ff;
}

.board {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  z-index: 1000;
}

.board #caption {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 960px) {
  .warn {
    display: block;
  }
}

/* @media (min-width: 441px) and (max-width: 767px), (min-height: 541px) and (max-height: 820px) {
  .loader,
  .info {
    width: 100%;
    font-size: 12px;
  }

  .info h2 {
    font-size: 14px;
    margin-bottom: 4%;
  }

  .intro {
    padding: 0 0 2% 0;
  }

  .guide {
    padding: 0 0 2% 0;
  }

  .setting {
    padding: 0 0 4% 0;
  }

  .author {
    margin-top: 4%;
  }
}

@media screen and (max-width: 440px), screen and (max-height: 540px) {
  .loader,
  .info {
    width: 100%;
    font-size: 12px;
  }

  .info h2 {
    font-size: 20px;
    margin-bottom: 8vh;
  }

  .intro {
    display: none;
  }

  .guide {
    display: none;
  }

  .setting {
    display: none;
  }

  .author {
    display: none;
  }
} */
