body,
html {
    font-family: 'Roboto Mono', monospace;
}

.a-enter-vr {
    display: none;
}

.info-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 22;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 222;
    line-height: 1.8em;
    text-align: center;
}

.info h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 12%;
}

.info #top {
    border-top: solid 1px white;
}

.info #bottom {
    border-bottom: solid 1px white;
}


#button {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-size: 14px;
}

#button:hover {
    color: black;
    background-color: white;
}

.author {
    margin-top: 8%;
    font-size: 12px;
}

a:link,
a:visited {
    text-decoration: none;
    cursor: default;
    color: white;
    font-size: 12px;
}

.info a:hover {
    color: #5200ff;
}


#caption {
    position: absolute;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
}


.board {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #23297A;
    z-index: 1000;
}



/* Mobile - Landscape */

@media screen and (max-width: 767px),
screen and (max-height: 820px) {

    .loader,
    .info {
        width: 100%;
        font-size: 12px;
    }

    .info h2 {
        font-size: 12px;
        margin-bottom: 4%;
    }

    .author {
        margin-top: 4%;
    }
}


/* Tablet */

@media screen and (min-width: 768px) and (max-width: 959px) {

    .loader,
    .info {
        width: 100%;
        font-size: 14px;
    }

    .info h2 {
        font-size: 14px;
        margin-bottom: 6%;
    }

    .author {
        margin-top: 6%;
    }
}
